 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, I'm Yehan.</p>
                    <p>Welcome to my blog!</p>
                    <p>I'm a Product Designer/Coder</p>
                    <p>If you are want to know more about my projects, please contact me!</p>
                </div>
                <div class="col-lg-4">
                  <p>产品新人👶</p>
                  <p>程序媛👩‍💻‍</p>
                  <p>持续关注AIGC🧙‍♀️</p>
                  <p><a href="mailto:xiaoyehan96@outlook.com" class="btn btn-lg btn-outline"><i class="fa fa-envelope"></i>我的邮箱</a></p>
                 
              </div>
                
            </div>
        </div>
    </section>
