 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, I'm Yehan.</p>
                    <p>Welcome to my blog!</p>
                    <p>I'm a Product Designer/Coder</p>
                    <p>If you are want to know more about my projects, please contact me!</p>
                </div>
                <div class="col-lg-4">
                    
                    <p>产品新人👶</p>
                    <p>程序媛👩‍💻‍</p>
                    <p><a target="_blank" href="https://xiaoyehan.oss-cn-shenzhen.aliyuncs.com/YehanXiao_CV_CN.pdf" class="btn btn-lg btn-outline"><i class="fa fa-download"></i>我的简历</a></p>
                    <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a target="_blank" href="http://okkrf0epo.bkt.clouddn.com/%E4%BA%A7%E5%93%81-%E8%82%96%E6%99%94%E6%99%97-17858950850.pdf" class="btn btn-lg btn-outline"><i class="fa fa-download"></i>我的简历</a>
                </div>-->
                </div>
                
            </div>
        </div>
    </section>
