 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, I'm Yehan.</p>
                    <p>Welcome to my blog!</p>
                    <p>Email: xiaoyehan96@outlook.com</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://okkrf0epo.bkt.clouddn.com/%E4%BA%A7%E5%93%81-%E8%82%96%E6%99%94%E6%99%97-17858950850.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i>Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>